/* Universal selector */
* {
  box-sizing: border-box;
  /* border-top: 10px solid #1098ad; */
}
body {
  /*margin creates space outside the border of an element,margin and padding are only transparent spaces,margin outside of the element*/
  margin: 10px;
  border-top: 10px solid #1098ad;
  /*padding creates space inside the border of an element .Inside of border*/
  padding: 5px;
  font-family: sans-serif;
  color: #444;
}
/* The background color of header */
.main-header {
  background-color: #f5f5f5;
  /* padding: 20px;
  padding-left: 40px;
  padding-right: 40px; */
  padding: 20px 40px;
}

aside {
  background-color: #f5f5f5;
  /* For a box around aside */
  /* border: 5px solid #1098ad; */
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}
/* This is due to inheritance that body color is inherited by all other elements unless specified otherwise */
/*
h1,
h2,
h3,
h4,
p,
li {
  margin: 10px;
  padding: 5px;
  font-family: sans-serif;
  color: #444;
} */

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 25px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
}
p {
  font-size: 21px;
  line-height: 1.5;
}

li {
  font-size: 20px;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 10px;
}
li:last-child {
  margin: 0px;
}
/* footer p {
  font-size: 16px;
} */

#copyright {
  text-align: center;
  font-size: 16px;
  font-style: italic;
}

/* article header p {
  font-style: italic;
} */
/* representation of id in css */
#author {
  font-style: italic;
  font-size: 18px;
}
/* representation of class in css.In real world we mostly use class as it supports one name repeatedly */
.related-author {
  font-style: italic;
  font-size: 18px;
  font-weight: bold;
}

/* To remove bullet points from the lists of related posts  */
/* ul {
  list-style: none;
} This way will remove bullet of all ul available in page
  Best way is down below*/
.related {
  list-style: none;
}

/* Trying to make bold the first item of both lists */
/* .first-list {
  font-weight: bold;
}
But the better way is to use :first-child pseudo class as below */
li:first-child {
  font-weight: bold;
}

/* To make the links of nav bar look like buttons */
nav a {
  color: white;
  text-decoration: none;
  background-color: #1098ad;
  padding: 5px 5px;
  border-radius: 3px;
  margin: 10px;
}

li:last-child {
  font-style: italic;
}
/* li:nth-child(2) {
  color: #1098ad;
} */
/* Color for even and odd items in list */
/* li:nth-child(even) {
  background-color: #b08b8b;
}
li:nth-child(odd) {
  background-color: #87c198;
} */

/* Misconception this won't work as article is not parent of p but header is parent of p */
article p:first-child {
  color: #1098ad;
}
/* Styling hyperlinks */

/* a {
  color: red;
} */

/* a:link {
  color: red; /* unvisited links*/
/* text-decoration: none;
} */
a:visited {
  color: #ffffff; /* visited links */
}

a:hover {
  color: green;
  font-weight: bold;
  text-decoration: underline wavy; /* when hovering */
}

a:active {
  background-color: black;
  font-family: sans-serif;
  font-style: italic;
  color: orange; /* when clicking */
}
/* LVHA */
a {
  text-decoration: none;
  font-size: 25px;
}

.related a {
  color: #444;
}
/* Resolving conflicts */
/* #copyright {
  color: red;
}
.copyright {
  color: blue;
}
.text {
  color: yellow;
}
footer p {
  color: green !important;
} */

/* Inheritance */
